/* Global */


*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* Sections */


body {
    color: grey;
    font-family: 'Lato', sans-serif;   
}

form {
    max-width: auto;
    padding: 10px 0;
  }

form h1, p {
    text-align: center;
}

h1 {
    font-size: 1.5rem;
    color:#263d50;
}

hr {
    width:98%;
}

.div.first {
    background-color: #263d50;
    border: 2.75px solid #263d50;
    margin-top: 30px;
    margin-bottom: -3px;
}

.div.second {
    border: 1.25px solid #263d50;
    margin-bottom: 30px;
}

.div.third {
    margin-top: 40px;
}

legend {
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 3;
    text-align: left;
    font-style: bold;
    color: #263d50;
}



label {
    display: block;
    margin-bottom: 8px;
  }
  
label.newsletter_options {
    display: inline;
    cursor:pointer;
    margin-top: 10px;
}

.legend {
    line-height: 3;
}

.text_area {
    height: 120px;
}

button {
    background: rgb(51, 179, 168);
    color: white;
    border: none;
    font-size: 1.5rem;
    width: 100%;
    text-align: center;
    margin: auto;
    padding: 20px;
    border-radius: 5px;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
    border:none;
    font-size: 1rem;
    height: 3rem;
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    background-color:#e8eeef;
    border-radius: 5px;
    color: #575757;
    margin-bottom: 30px;
}

input[type="radio"],
input[type="checkbox"] {
    margin: 10px;
}

input[id="zip"] {
    width: 50%;
    margin-bottom: 0;
}

input:focus {
    border: 2px solid #263d50;
}

fieldset {
    margin-bottom: 30px;
    border: none;
    margin: 0;
}

.footer_text {
    font-style: italic;
}









/* webkit solution */
::-webkit-input-placeholder { text-align:right; font-style:oblique; font-size:.9rem; }
/* mozilla solution */
input:-moz-placeholder { text-align:right; font-style:oblique; font-size:.9rem; }



/* Media Queries */